.editProduct {
    textarea {
        border: 1px solid $mercury;
        width: 100%;
        height: 20vh;
        border-radius: 4px;
        background-color: $alabaster;
    }
     ::placeholder {
        padding: 15px;
    }
    input {
        border: 1px solid $mercury;
        width: 100%;
        height: 10vh;
        border-radius: 4px;
        background-color: $alabaster;
    }
}

.product {
    &__btn {
        font-size: 1rem;
    }
    &__btn-container--ep {
        display: flex;
        flex-direction: column;
    }
    &__btn-cancel {
        text-align: center;
    }
    &__btn-cancel {
        font-family: Avenir Bold Demi;
        color: $instock-blue;
    }
    &__itemDesc-title--ep {
        margin-top: 12px;
    }
    &__editPageStatus-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__editPageStatus-title {
        @include label;
        margin-top: 2rem;
    }
    &__editPageStatus-toggle {
        padding-right: 20px;
    }
    &__categories--textEp {
        margin-bottom: 20px;
    }
}

.product_btn-cancel {
    @include paragraph-bold;
    color: $instock-blue;
    align-self: center;
    margin: 0;
}