.locations {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;

  @include tablet {
    margin: 0 1.5rem;
  }

  @include desktop {
    margin: 0 auto;
    width: 67.5rem;
  }

  &__wrapper {
    height: 136px;
    @include tablet {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;
      margin-bottom: 1.5rem;
      height: 75px;
      height: fit-content;
    }
    @include desktop {
      margin-bottom: 3rem;
    }
  }

  &__header {
    @include header;
    margin: 2rem 0 1rem 0;

    @include tablet {
      @include headerOne-tablet;
      margin: 0;
      margin-bottom: 3rem;
      margin-bottom: 0;
    }
  }

  &__search {
    position: relative;
    margin-bottom: 2rem;
    width: 90%;

    @include tablet {
      width: 15.75rem;
      margin-bottom: 0;
    }

    &--input {
      @extend .input;
      padding: 0 0.75rem 0 2.5rem;
      height: 3rem;
    }

    &--icon {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  }

  &__bodyMobile {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;

    @include tablet {
      display: none;
    }
  }

  &__container {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid $mercury;
    margin-top: 1.5rem;
  }

  &__title {
    @include label;
    margin-top: 0;
    margin-bottom: 1rem;

    @include tablet {
      margin-bottom: 0.5rem;
    }

    @include desktop {
      margin-bottom: 0;
    }
  }

  &__warehouse {
    @include paragraph-bold;
    margin-top: 0;
    margin-bottom: 1rem;

    @include tablet {
      @include subheader-tablet;
      margin-bottom: 0.5rem;
    }
    @include desktop {
      width: fit-content;
      margin: 0;
    }
  }

  &__titleMobile {
    @include paragraph-bold;
    margin-top: 0;
    margin-bottom: 1rem;

    @include tablet {
      @include subheader-tablet;
      margin-bottom: 0;
      margin-top: 48px;
    }
  }

  &__titleTablet {
    @include paragraph-bold;
    margin-top: 0;
    margin-bottom: 1rem;

    @include tablet {
      @include subheader-tablet;
      margin-bottom: 0;
      width: max-content;
    }
  }

  &__text {
    @include paragraph;
    margin: 0;
    margin-bottom: 1.5rem;

    @include tablet {
      @include paragraph-tablet;
      margin-bottom: 0;
      width: max-content;
    }

    @include desktop {
      height: 22px;
      overflow: hidden;
    }
  }

  &__textTablet {
    @include paragraph;
    margin: 0;
    margin-bottom: 1.5rem;

    @include tablet {
      @include paragraph-tablet;
      margin-bottom: 0;
    }

    @include desktop {
      height: 22px;
      overflow: hidden;
    }
  }
  &__arrowWrapper {
    margin-left: auto;
  }
  &__rightArrowIcon {
    @include tablet {
      margin-right: 1.5rem;
      margin-right: initial;
      margin-left: auto;
    }
    @include desktop {
      padding-top: 0;
    }
  }

  &__button {
    @extend .round-button;
    width: 3.75rem;
    height: 3.75rem;
    position: absolute;
    bottom: 5rem;
    right: 1.5rem;

    @include tablet {
      width: 5rem;
      height: 5rem;
    }

    &--addIcon {
      width: 1.25rem;

      @include tablet {
        width: 1.5rem;
      }
    }
  }

  &__bodyTablet {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
    }
    @include desktop {
      display: none;
    }
  }

  &__titleWrapper {
    display: flex;
    @include desktop {
      margin-bottom: 0.5rem;
    }
  }

  &__contentWrapper {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom: 1px solid $mercury;
    height: 6.25rem;

    @include desktop {
      height: fit-content;
      padding: 1.5rem 0;
    }
  }

  &__contentWrapperTablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom: 1px solid $mercury;
    height: 6.25rem;
    @include tablet {
      align-items: initial;
      height: fit-content;
      padding-top: 1.5rem;
    }
    @include desktop {
      height: 5rem;
    }
  }

  &__item {
    width: 34.44%;
    padding-right: 1.5rem;

    @include tablet {
      margin-bottom: 2rem;
      display: flex;
      width: initial;
      padding-right: initial;
    }

    @include desktop {
      margin-bottom: 0;
      width: 25%;
      display: initial;
    }
  }

  &__contact {
    width: 25%;
    margin-right: 50px;
    @include tablet {
      width: 34.44%;
      margin-right: 0;
      padding-right: 4rem;
    }
    @include desktop {
      margin-right: 0;
      height: fit-content;
      width: 22%;
    }
  }

  &__contactinfo {
    width: 17.22%;
    @include desktop {
      margin-right: 0;
      height: fit-content;
      width: 22%;
    }
  }

  &__category {
    width: 25%;
    margin-right: 50px;
    @include tablet {
      width: 34.44%;
      margin-right: 0;
    }
    @include desktop {
      margin-right: 0;
      height: fit-content;
      width: 24%;
    }
  }

  &__categories {
    @include tablet {
      width: 31.11%;
      padding-right: 1rem;
    }
  }

  &__address {
    @include desktop {
      width: fit-content;
      margin-right: 0;
      height: fit-content;
    }
  }

  &__textContainer {
    display: flex;
  }

  &__imageContainer {
    @include tablet {
      width: fit-content;
      margin-left: 90%;
      margin-left: 69vw;
      height: fit-content;
      width: 100%;
      display: flex;
      justify-items: flex-end;
    }
  }

  &__bodyDesktop {
    display: none;

    @include tablet {
      display: none;
    }
    @include desktop {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
    }
  }

  &__iconWrapper {
    @include desktop {
      margin-left: auto;
      position: relative;
      display: inline-block;
      margin-right: 1.5rem;
    }
  }
}
