$blackest: #000;
$black: #323232;
$instock-blue: #004892;
$white: #ffffff;
$silver: #afafaf;
$instock-blue-dark: #002f5f;
$mercury: #e1e1e1;
$mercurylight: rgba(225, 225, 225, 0.5);
$alabaster: #fafafa;
$green: #69b02f;
