@font-face {
  font-family: "Avenir Regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Bold Demi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* ==========================================================================
   mixins for screen sizes
   ========================================================================== */
/* ==========================================================================
     mixins for mobile fonts
    ========================================================================== */
/* ==========================================================================
       mixins for tablet and desktop fonts
    ========================================================================== */
/* ==========================================================================
       utility classes
    ========================================================================== */
.input, .inventory__search--input, .locations__search--input, .createNew__input, .createNew__location, .createNew__descInput, .locationdetails-bottom__search--input {
  background-color: rgba(225, 225, 225, 0.5);
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #e1e1e1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.input:focus, .inventory__search--input:focus, .locations__search--input:focus, .createNew__input:focus, .createNew__location:focus, .createNew__descInput:focus, .locationdetails-bottom__search--input:focus {
  border: 2px solid #323232;
}

.round-button, .inventory__button, .locations__button, .locationdetails-bottom__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #004892;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.round-button:hover, .inventory__button:hover, .locations__button:hover, .locationdetails-bottom__button:hover {
  background-color: #002f5f;
}

.button, .createNew__btn, .product__btn, .locationdetails-top__btn, .editProduct__btn {
  font-family: Avenir Bold Demi;
  font-size: 0.813rem;
  line-height: 1.125rem;
  background-color: #004892;
  color: #ffffff;
  border-radius: 0.25rem;
  letter-spacing: 0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 3rem;
  padding: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.button:hover, .createNew__btn:hover, .product__btn:hover, .locationdetails-top__btn:hover, .editProduct__btn:hover, .button:focus, .createNew__btn:focus, .product__btn:focus, .locationdetails-top__btn:focus, .editProduct__btn:focus {
  background-color: #002f5f;
}

.status-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
}

html,
body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Avenir Regular;
  font-size: 16px;
  color: #323232;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a:link,
a:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

input,
input:focus,
textarea,
textarea:focus,
button {
  font-family: Avenir Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

@media (min-width: 768px) {
  input,
  input:focus,
  textarea,
  textarea:focus,
  button {
    font-family: Avenir Regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: Avenir Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
  color: #323232;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: Avenir Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
  color: #323232;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-family: Avenir Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
  color: #323232;
}

input::placeholder,
textarea::placeholder {
  font-family: Avenir Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
  color: #323232;
}

@media (min-width: 768px) {
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font-family: Avenir Regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    font-family: Avenir Regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  input::-ms-input-placeholder,
  textarea::-ms-input-placeholder {
    font-family: Avenir Regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  input::placeholder,
  textarea::placeholder {
    font-family: Avenir Regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #323232;
  height: 5rem;
}

@media (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.header .active {
  color: #ffffff;
  font-family: Avenir Bold Demi;
  border-bottom: 0.25rem solid #ffffff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 1.5rem;
  }
}

@media (min-width: 1080px) {
  .header__container {
    width: 67.5rem;
    margin: 0 auto;
  }
}

.header__logo {
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  height: 1.2rem;
  padding: 1rem 0;
}

@media (min-width: 768px) {
  .header__logo {
    margin-right: 0;
  }
}

@media (min-width: 1080px) {
  .header__logo {
    margin-left: 0;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: Avenir Regular;
  font-size: 0.875rem;
  color: #afafaf;
}

.header__link {
  margin: 0;
  width: 50%;
  height: 1.8rem;
  color: #afafaf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__link--active, .header__link:hover {
  color: #ffffff;
  font-family: Avenir Bold Demi;
  border-bottom: 0.25rem solid #ffffff;
}

@media (min-width: 768px) {
  .header__link {
    margin-top: 2rem;
    margin-left: 3.5rem;
    height: 3rem;
    width: 5rem;
  }
}

.inventory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1rem 3rem 1rem;
}

@media (min-width: 768px) {
  .inventory {
    margin: 0 1.5rem 3rem 1.5rem;
  }
}

@media (min-width: 1080px) {
  .inventory {
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 67.5rem;
  }
}

.inventory__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 8rem;
}

@media (min-width: 768px) {
  .inventory__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 3rem;
    height: 6rem;
  }
}

.inventory__header {
  font-family: Avenir Bold;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2rem 0 1rem 0;
}

@media (min-width: 768px) {
  .inventory__header {
    font-family: Avenir Bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 0;
  }
}

.inventory__search {
  position: relative;
  margin-bottom: 2rem;
  width: 90%;
}

@media (min-width: 768px) {
  .inventory__search {
    width: 15.75rem;
  }
}

.inventory__search--input {
  padding: 0 0.75rem 0 2.5rem;
  height: 3rem;
}

.inventory__search--icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

@media (min-width: 768px) {
  .inventory__bodyMobile {
    display: none;
  }
}

.inventory__wrapperMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 2rem;
}

.inventory__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inventory__title {
  font-family: Avenir Bold Demi;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #afafaf;
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .inventory__title {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 1080px) {
  .inventory__title {
    margin-bottom: 0;
  }
}

.inventory__itemWrapper {
  width: 34.44%;
  padding-right: 1rem;
}

.inventory__product {
  font-family: Avenir Bold Demi;
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #323232;
}

@media (min-width: 768px) {
  .inventory__product {
    font-family: Avenir Bold Demi;
    font-size: 1rem;
    line-height: 1.35rem;
    margin-bottom: 0;
    color: #323232;
    width: 100%;
  }
}

.inventory__text {
  font-family: Avenir Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
  color: #323232;
  margin: 0;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .inventory__text {
    font-family: Avenir Regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
    margin-bottom: 0;
    width: 100%;
  }
}

@media (min-width: 1080px) {
  .inventory__text {
    height: 22px;
    overflow: hidden;
  }
}

.inventory__statusWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 17.22%;
}

.inventory__iconWrapper {
  margin-left: auto;
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .inventory__iconWrapper {
    padding-right: 0.5rem;
    margin-left: auto;
  }
}

.inventory__iconWrapper:hover .inventory__kebabIcon--hover,
.inventory__iconWrapper:hover .inventory__remove {
  display: inline;
}

.inventory__kebabIcon--hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.inventory__button {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  z-index: 90;
}

@media (min-width: 768px) {
  .inventory__button {
    width: 5rem;
    height: 5rem;
    right: 3rem;
  }
}

.inventory__button--addIcon {
  width: 1.25rem;
}

@media (min-width: 768px) {
  .inventory__button--addIcon {
    width: 1.5rem;
  }
}

.inventory__bodyTablet {
  display: none;
}

@media (min-width: 768px) {
  .inventory__bodyTablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.inventory__titleWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .inventory__titleWrapper {
    width: 100%;
  }
}

.inventory__contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #e1e1e1;
  height: 6.25rem;
}

@media (min-width: 768px) {
  .inventory__contentWrapper {
    width: 100%;
  }
}

@media (min-width: 1080px) {
  .inventory__contentWrapper {
    height: 5rem;
  }
}

.inventory__item {
  width: 350px;
  padding-right: 1.5rem;
}

@media (min-width: 768px) {
  .inventory__item {
    padding: 0;
    width: 34.44%;
  }
}

@media (min-width: 1080px) {
  .inventory__item {
    margin-bottom: 0;
  }
}

.inventory__order {
  width: 17.22%;
}

.inventory__location {
  width: 17.22%;
}

.inventory__quantity {
  width: 13.89%;
}

.inventory__status {
  width: 17.22%;
}

.inventory__remove {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 10.063rem;
  height: 2.75rem;
  padding-right: 5rem;
  border-radius: 0.25rem;
  border: 1px solid #e1e1e1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  top: 1.75rem;
  right: -0.75rem;
  z-index: 10;
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.inventory__remove:focus {
  border: 2px solid #323232;
}

.locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1rem;
}

@media (min-width: 768px) {
  .locations {
    margin: 0 1.5rem;
  }
}

@media (min-width: 1080px) {
  .locations {
    margin: 0 auto;
    width: 67.5rem;
  }
}

@media (min-width: 768px) {
  .locations__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 75px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.locations__header {
  font-family: Avenir Bold;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2rem 0 1rem 0;
}

@media (min-width: 768px) {
  .locations__header {
    font-family: Avenir Bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 0;
    margin-bottom: 3rem;
    margin-bottom: 0;
  }
}

.locations__search {
  position: relative;
  margin-bottom: 2rem;
  width: 90%;
}

@media (min-width: 768px) {
  .locations__search {
    width: 15.75rem;
    margin-bottom: 0;
  }
}

.locations__search--input {
  padding: 0 0.75rem 0 2.5rem;
  height: 3rem;
}

.locations__search--icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.locations__bodyMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid #e1e1e1;
}

@media (min-width: 768px) {
  .locations__bodyMobile {
    display: none;
  }
}

.locations__title {
  font-family: Avenir Bold Demi;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #afafaf;
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .locations__title {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 1080px) {
  .locations__title {
    margin-bottom: 0;
  }
}

.locations__warehouse {
  font-family: Avenir Bold Demi;
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .locations__warehouse {
    font-family: Avenir Bold Demi;
    font-size: 1rem;
    line-height: 1.35rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 1080px) {
  .locations__warehouse {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
  }
}

.locations__titleMobile {
  font-family: Avenir Bold Demi;
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .locations__titleMobile {
    font-family: Avenir Bold Demi;
    font-size: 1rem;
    line-height: 1.35rem;
    margin-bottom: 0;
    margin-top: 48px;
  }
}

.locations__titleTablet {
  font-family: Avenir Bold Demi;
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .locations__titleTablet {
    font-family: Avenir Bold Demi;
    font-size: 1rem;
    line-height: 1.35rem;
    margin-bottom: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

.locations__text {
  font-family: Avenir Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin: 0;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .locations__text {
    font-family: Avenir Regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-bottom: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

@media (min-width: 1080px) {
  .locations__text {
    height: 22px;
    overflow: hidden;
  }
}

.locations__textTablet {
  font-family: Avenir Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin: 0;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .locations__textTablet {
    font-family: Avenir Regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-bottom: 0;
  }
}

@media (min-width: 1080px) {
  .locations__textTablet {
    height: 22px;
    overflow: hidden;
  }
}

.locations__rightArrowIcon {
  margin-left: auto;
}

@media (min-width: 768px) {
  .locations__rightArrowIcon {
    margin-right: 1.5rem;
    margin-right: initial;
    padding-top: 15px;
  }
}

@media (min-width: 1080px) {
  .locations__rightArrowIcon {
    padding-top: 0;
  }
}

.locations__button {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  bottom: 5rem;
  right: 1.5rem;
}

@media (min-width: 768px) {
  .locations__button {
    width: 5rem;
    height: 5rem;
  }
}

.locations__button--addIcon {
  width: 1.25rem;
}

@media (min-width: 768px) {
  .locations__button--addIcon {
    width: 1.5rem;
  }
}

.locations__bodyTablet {
  display: none;
}

@media (min-width: 768px) {
  .locations__bodyTablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1080px) {
  .locations__bodyTablet {
    display: none;
  }
}

.locations__titleWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.locations__contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #e1e1e1;
  height: 6.25rem;
}

@media (min-width: 1080px) {
  .locations__contentWrapper {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 32px;
    padding-bottom: 24px;
  }
}

.locations__contentWrapperTablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #e1e1e1;
  height: 6.25rem;
}

@media (min-width: 768px) {
  .locations__contentWrapperTablet {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 0;
  }
}

@media (min-width: 1080px) {
  .locations__contentWrapperTablet {
    height: 5rem;
  }
}

.locations__item {
  width: 34.44%;
  padding-right: 1.5rem;
}

@media (min-width: 768px) {
  .locations__item {
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: initial;
    padding-right: initial;
  }
}

@media (min-width: 1080px) {
  .locations__item {
    margin-bottom: 0;
    width: 25%;
    display: initial;
  }
}

.locations__contact {
  width: 25%;
  margin-right: 50px;
}

@media (min-width: 1080px) {
  .locations__contact {
    margin-right: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 22%;
  }
}

.locations__contactinfo {
  width: 17.22%;
}

@media (min-width: 1080px) {
  .locations__contactinfo {
    margin-right: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 22%;
  }
}

.locations__category {
  width: 25%;
  margin-right: 50px;
}

@media (min-width: 1080px) {
  .locations__category {
    margin-right: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 24%;
  }
}

@media (min-width: 1080px) {
  .locations__address {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.locations__textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .locations__imageContainer {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 44.3rem;
    margin-left: 74%;
    margin-left: 69vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: flex-end;
  }
}

.locations__bodyDesktop {
  display: none;
}

@media (min-width: 768px) {
  .locations__bodyDesktop {
    display: none;
  }
}

@media (min-width: 1080px) {
  .locations__bodyDesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1080px) {
  .locations__iconWrapper {
    margin-left: auto;
    position: relative;
    display: inline-block;
    margin-right: 1.5rem;
  }
}

.createNew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .createNew {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.createNew__form {
  margin: 0 1rem;
}

@media (min-width: 768px) {
  .createNew__form {
    padding: 0 3rem;
    border-radius: 0.25rem;
    width: 36rem;
    height: 39rem;
    background-color: #ffffff;
    margin: 0;
  }
}

.createNew__form--warehouse {
  margin: 0 1rem;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .createNew__form--warehouse {
    padding: 0 3rem;
    border-radius: 0.25rem;
    width: 36rem;
    height: 45rem;
    background-color: #ffffff;
    margin: 0;
  }
}

.createNew__header {
  font-family: Avenir Bold;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .createNew__header {
    font-family: Avenir Bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 3rem 0;
  }
}

.createNew__header--warehouse {
  font-family: Avenir Bold;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .createNew__header--warehouse {
    font-family: Avenir Bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 3rem 0 2rem 0;
  }
}

.createNew__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .createNew__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.createNew__wrapper--input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.createNew__wrapper--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .createNew__wrapper--btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.createNew__label {
  font-family: Avenir Bold Demi;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #afafaf;
  width: 18rem;
}

@media (min-width: 768px) {
  .createNew__label {
    width: 13.75rem;
  }
}

.createNew__input {
  height: 3rem;
  padding: 0 0.75rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .createNew__input {
    width: 13.75rem;
    padding-left: 1rem;
  }
}

.createNew__location {
  height: 3rem;
  margin-bottom: 1.5rem;
  padding-left: 0.75rem;
}

.createNew__location--option {
  font-family: Avenir Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
  color: #323232;
}

@media (min-width: 768px) {
  .createNew__location--option {
    font-family: Avenir Regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.createNew__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.createNew__status--text {
  font-family: Avenir Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
  color: #323232;
}

@media (min-width: 768px) {
  .createNew__status--text {
    font-family: Avenir Regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.createNew__status--toggle {
  margin-right: 1rem;
}

.createNew__descInput {
  resize: none;
  padding: 0.5rem 0 0 0.75rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.createNew__btn {
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .createNew__btn {
    width: 10rem;
    height: 3rem;
  }
}

.createNew__cancel {
  font-family: Avenir Bold Demi;
  font-size: 0.813rem;
  line-height: 1.125rem;
  color: #004892;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
}

@media (min-width: 768px) {
  .createNew__cancel {
    margin-right: 3rem;
  }
}

.product {
  width: 90%;
  margin: 0 auto;
}

.product__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 0 16px 0;
}

.product__name h2 {
  margin: 0;
  padding-left: 15px;
  font-family: Avenir Bold;
}

.product__backArrow {
  width: 1rem;
  height: 1.5rem;
}

.product__status {
  font-family: Avenir Bold Demi;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #afafaf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-bottom: 35px;
}

.product__status p {
  margin: 0;
}

.product__status--in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 88px;
  height: 24px;
  border-radius: 4px;
  background-color: #69b02f;
}

.product__status--out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 88px;
  height: 24px;
  border-radius: 4px;
  background-color: #afafaf;
}

.product__itemDesc P, .product__lastOrder P, .product__location P, .product__quantity P, .product__categories P {
  font-family: Avenir Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
}

.product__itemDesc-title, .product__lastOrder-title, .product__location-title, .product__quantity-title, .product__categories-title {
  font-family: Avenir Bold Demi;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #afafaf;
  margin-top: 2rem;
}

.product__categories--text {
  margin-bottom: 40px;
}

.product__btn {
  margin: 20px 0;
}

.product__btn button {
  outline: none;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
}

@media (min-width: 768px) {
  .product-container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
  }
  .product {
    margin: 0 1.5rem;
  }
  .product__name {
    margin: 0;
  }
  .product__name h2 {
    font-family: Avenir Bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 48px 0 40px 0;
  }
  .product__backArrow {
    margin-top: 0.5rem;
  }
  .product__status {
    margin-bottom: 0;
    margin-left: 24px;
    margin-top: 0.75rem;
  }
  .product .product-container2 {
    border-bottom: 1px solid #e1e1e1;
  }
  .product__itemDesc {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .product__itemDesc P, .product__lastOrder P, .product__location P, .product__quantity P, .product__categories P {
    font-family: Avenir Regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .product .product-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 70%;
  }
  .product__btn {
    width: 160px;
    height: 48px;
    margin-top: 40px;
  }
  .product__btn-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 1080px) {
  .product {
    width: 1080px;
    margin: 0 auto;
  }
  .product__itemInfo-wrapper {
    width: 528px;
    padding-left: 0;
  }
  .product__name img {
    width: 16px;
    height: 24px;
  }
  .product__status {
    width: 88px;
    height: 24px;
    margin-left: 24px;
  }
  .product__status p {
    font-size: 12px;
  }
  .product__itemDesc-wrapper {
    width: 512px;
    margin-right: 40px;
  }
  .product__itemDesc-title {
    margin-top: 40px;
    margin-bottom: 24px;
  }
  .product__itemDesc {
    margin: 0;
  }
  .product__lastOrder {
    width: 236px;
    margin-right: 40px;
  }
  .product__lastOrder-title, .product__location-title {
    margin: 0;
  }
  .product__location {
    margin-right: auto;
  }
  .product__categories {
    margin-top: 56px;
  }
  .product__categories--text {
    margin-bottom: 48px;
  }
  .product__itemDesc P, .product__lastOrder P, .product__location P, .product__quantity P, .product__categories P {
    margin-top: 24px;
  }
  .product__btn-container {
    margin-right: 0;
  }
  .product__btn {
    margin: 40px 0;
  }
  .product-container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #e1e1e1;
  }
  .product-wrapper {
    margin-top: 40px;
    margin-bottom: 56px;
    margin-right: 0;
  }
}

.locationdetails-top {
  width: 90%;
  margin: 0 auto;
}

.locationdetails-top__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.locationdetails-top__name h2 {
  padding-left: 15px;
  font-family: Avenir Bold;
}

.locationdetails-top__status {
  font-family: Avenir Bold Demi;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #afafaf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-bottom: 35px;
}

.locationdetails-top__status p {
  margin: 0;
}

.locationdetails-top__status--in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 88px;
  height: 24px;
  border-radius: 4px;
  background-color: #69b02f;
}

.locationdetails-top__status--out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 88px;
  height: 24px;
  border-radius: 4px;
  background-color: #afafaf;
}

.locationdetails-top__itemDesc P, .locationdetails-top__lastOrder P, .locationdetails-top__location P, .locationdetails-top__quantity P, .locationdetails-top__categories P {
  font-family: Avenir Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
}

.locationdetails-top__itemDesc-title, .locationdetails-top__lastOrder-title, .locationdetails-top__location-title, .locationdetails-top__quantity-title, .locationdetails-top__categories-title {
  font-family: Avenir Bold Demi;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #afafaf;
  margin-top: 2rem;
}

.locationdetails-top__categories--text {
  margin-bottom: 40px;
}

.locationdetails-top__btn {
  margin: 20px 0;
}

.locationdetails-top__btn button {
  outline: none;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
}

@media (min-width: 768px) {
  .locationdetails-top-container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #e1e1e1;
  }
  .locationdetails-top__name h2 {
    font-family: Avenir Bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  .locationdetails-top__status {
    margin-bottom: 0;
    margin-left: 35px;
  }
  .locationdetails-top .locationdetails-top-container2 {
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid #e1e1e1;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .locationdetails-top .locationdetails-top-container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: initial;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .locationdetails-top__itemDesc {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .locationdetails-top__itemDesc {
    margin-right: 230px;
  }
}

@media (min-width: 768px) {
  .locationdetails-top__itemDesc P, .locationdetails-top__lastOrder P, .locationdetails-top__location P, .locationdetails-top__quantity P, .locationdetails-top__categories P {
    font-family: Avenir Regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .locationdetails-top .locationdetails-top-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 70%;
  }
}

@media (min-width: 768px) and (min-width: 1080px) {
  .locationdetails-top .locationdetails-top-wrapper {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .locationdetails-top__btn {
    width: 160px;
    height: 48px;
    margin-top: 40px;
  }
  .locationdetails-top__btn-container {
    width: 95%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 1080px) {
  .locationdetails-top {
    max-width: 1080px;
  }
  .locationdetails-top__itemInfo-wrapper {
    width: 100%;
  }
  .locationdetails-top__name img {
    width: 16px;
    height: 24px;
  }
  .locationdetails-top__status {
    width: 88px;
    height: 24px;
    margin-left: 24px;
  }
  .locationdetails-top__status p {
    font-size: 12px;
  }
  .locationdetails-top__itemDesc-title {
    margin-top: 40px;
    margin-bottom: 24px;
  }
  .locationdetails-top__itemDesc {
    margin: 0;
  }
  .locationdetails-top__lastOrder-title, .locationdetails-top__location-title {
    margin: 0;
  }
  .locationdetails-top__categories {
    margin-top: 56px;
  }
  .locationdetails-top__categories--text {
    margin-bottom: 48px;
  }
  .locationdetails-top__itemDesc P, .locationdetails-top__lastOrder P, .locationdetails-top__location P, .locationdetails-top__quantity P, .locationdetails-top__categories P {
    margin-top: 24px;
  }
  .locationdetails-top__itemInfo-wrapper {
    padding-left: 40px;
  }
  .locationdetails-top__btn {
    margin: 40px 0;
  }
}

@media (min-width: 1080px) and (min-width: 1080px) {
  .locationdetails-top__itemDesc-wrapper {
    margin-right: 315px;
    width: 350px;
  }
}

@media (min-width: 1080px) {
  .locationdetails-top-container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #e1e1e1;
  }
  .locationdetails-top-wrapper {
    margin-top: 40px;
    margin-bottom: 56px;
  }
}

.locationdetails-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1rem 3rem 1rem;
}

@media (min-width: 768px) {
  .locationdetails-bottom {
    margin: 0 1.5rem 3rem 1.5rem;
  }
}

@media (min-width: 1080px) {
  .locationdetails-bottom {
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 67.5rem;
  }
}

.locationdetails-bottom__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 8rem;
}

@media (min-width: 768px) {
  .locationdetails-bottom__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 3rem;
    height: 6rem;
  }
}

.locationdetails-bottom__header {
  font-family: Avenir Bold;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2rem 0 1rem 0;
}

@media (min-width: 768px) {
  .locationdetails-bottom__header {
    font-family: Avenir Bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 0;
  }
}

.locationdetails-bottom__search {
  position: relative;
  margin-bottom: 2rem;
  width: 90%;
}

@media (min-width: 768px) {
  .locationdetails-bottom__search {
    width: 15.75rem;
  }
}

.locationdetails-bottom__search--input {
  padding: 0 0.75rem 0 2.5rem;
  height: 3rem;
}

.locationdetails-bottom__search--icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

@media (min-width: 768px) {
  .locationdetails-bottom__bodyMobile {
    display: none;
  }
}

.locationdetails-bottom__wrapperMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 2rem;
}

.locationdetails-bottom__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.locationdetails-bottom__title {
  font-family: Avenir Bold Demi;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #afafaf;
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .locationdetails-bottom__title {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 1080px) {
  .locationdetails-bottom__title {
    margin-bottom: 0;
  }
}

.locationdetails-bottom__product {
  font-family: Avenir Bold Demi;
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #323232;
}

@media (min-width: 768px) {
  .locationdetails-bottom__product {
    font-family: Avenir Bold Demi;
    font-size: 1rem;
    line-height: 1.35rem;
    margin-bottom: 0;
    color: #323232;
  }
}

.locationdetails-bottom__text {
  font-family: Avenir Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
  color: #323232;
  margin: 0;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .locationdetails-bottom__text {
    font-family: Avenir Regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
    margin-bottom: 0;
  }
}

@media (min-width: 1080px) {
  .locationdetails-bottom__text {
    height: 22px;
    overflow: hidden;
  }
}

.locationdetails-bottom__iconWrapper {
  margin-left: auto;
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .locationdetails-bottom__iconWrapper {
    margin-right: 1.5rem;
  }
}

.locationdetails-bottom__iconWrapper:hover .locationdetails-bottom__kebabIcon--hover,
.locationdetails-bottom__iconWrapper:hover .locationdetails-bottom__remove {
  display: inline;
}

.locationdetails-bottom__kebabIcon--hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.locationdetails-bottom__button {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  z-index: 99;
}

@media (min-width: 768px) {
  .locationdetails-bottom__button {
    width: 5rem;
    height: 5rem;
    right: 3rem;
  }
}

.locationdetails-bottom__button--addIcon {
  width: 1.25rem;
}

@media (min-width: 768px) {
  .locationdetails-bottom__button--addIcon {
    width: 1.5rem;
  }
}

.locationdetails-bottom__bodyTablet {
  display: none;
}

@media (min-width: 768px) {
  .locationdetails-bottom__bodyTablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.locationdetails-bottom__titleWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}

.locationdetails-bottom__contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #e1e1e1;
  height: 6.25rem;
}

@media (min-width: 1080px) {
  .locationdetails-bottom__contentWrapper {
    height: 5rem;
  }
}

.locationdetails-bottom__item {
  width: 350px;
  padding-right: 1.5rem;
}

@media (min-width: 768px) {
  .locationdetails-bottom__item {
    width: 230px;
  }
}

@media (min-width: 1080px) {
  .locationdetails-bottom__item {
    margin-bottom: 0;
    width: 300px;
    padding-right: 0;
    margin-right: 50px;
  }
}

.locationdetails-bottom__order {
  width: 17.22%;
}

.locationdetails-bottom__location {
  width: 17.22%;
}

.locationdetails-bottom__quantity {
  width: 13.88%;
}

.locationdetails-bottom__remove {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 10.063rem;
  height: 2.75rem;
  padding-right: 5rem;
  border-radius: 0.25rem;
  border: 1px solid #e1e1e1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  top: 1.75rem;
  right: -0.75rem;
  z-index: 10;
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.locationdetails-bottom__remove:focus {
  border: 2px solid #323232;
}

.editProduct__form textarea {
  border: 1px solid #e1e1e1;
  width: 100%;
  height: 8rem;
  border-radius: 4px;
  background-color: #fafafa;
  padding: 1rem 0 0 1rem;
}

.editProduct__form input {
  border: 1px solid #e1e1e1;
  padding-left: 1rem;
  width: 100%;
  height: 3rem;
  border-radius: 0.25rem;
  background-color: #fafafa;
}

.editProduct {
  margin: 0 1rem;
}

.editProduct__title {
  margin: 0;
  margin-top: 1rem;
  font-family: Avenir Bold Demi;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #afafaf;
}

.editProduct__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 0;
}

.editProduct__name h2 {
  padding-left: 15px;
  font-family: Avenir Bold;
}

.editProduct__name--text {
  margin: 0;
  padding-left: 1rem;
}

@media (min-width: 768px) {
  .editProduct__name--text {
    font-family: Avenir Bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

.editProduct__btn-container--ep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editProduct__btn-cancel {
  text-align: center;
}

.editProduct__btn-cancel {
  font-family: Avenir Bold Demi;
  color: #004892;
}

.editProduct__itemDesc-title--ep {
  margin-top: 12px;
}

.editProduct__editPageStatus-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editProduct__editPageStatus-title {
  font-family: Avenir Bold Demi;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #afafaf;
  margin-top: 2rem;
}

.editProduct__editPageStatus-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .editProduct__editPageStatus-show {
    margin-top: 0.75rem;
  }
}

.editProduct__editPageStatus-toggle {
  padding-right: 20px;
  margin-left: auto;
}

.editProduct__editPageStatus-text {
  font-family: Avenir Regular;
  font-size: 0.813rem;
  line-height: 1.125rem;
  color: #323232;
  margin: 0;
}

@media (min-width: 768px) {
  .editProduct__editPageStatus-text {
    font-family: Avenir Regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
    width: 6rem;
  }
}

.editProduct__categories--textEp {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .editProduct__categories--textEp {
    height: 4rem;
  }
}

.editProduct__btn-cancel {
  font-family: Avenir Bold Demi;
  font-size: 0.813rem;
  line-height: 1.125rem;
  color: #004892;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
}

@media (min-width: 768px) {
  .editProduct-container2--ep {
    padding-right: 150px;
  }
  .editProduct-container2 {
    margin: 0;
  }
  .editProduct {
    margin: 0 1.5rem;
  }
  .editProduct__categories--text {
    margin-bottom: 40px;
  }
  .editProduct__name {
    margin: 0;
    padding: 48px 0 40px 0;
    border-bottom: 1px solid #e1e1e1;
  }
  .editProduct__itemDesc--ep {
    margin-bottom: 0;
  }
  .editProduct__itemDesc-title--ep {
    margin-top: 32px;
  }
  .editProduct__editPageStatus-toggle {
    margin-left: 100px;
  }
  .editProduct__btn-container--ep {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-top: 1px solid #e1e1e1;
  }
  .editProduct__btn-cancel {
    margin-right: 40px;
    padding-top: 15px;
  }
  .editProduct__form input {
    width: 265px;
    margin-right: 40px;
  }
  .editProduct-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1080px) {
  .editProduct__form {
    width: 1080px;
  }
  .editProduct__form textarea {
    width: 512px;
    height: 140px;
  }
  .editProduct__form input {
    width: 236px;
    height: 48px;
  }
  .editProduct {
    width: 1080px;
    margin: 0 auto;
  }
  .editProduct__itemDesc-title--ep {
    margin-bottom: 0;
    margin-top: 0;
  }
  .editProduct__itemDesc-wrapper {
    width: 512px;
    margin-right: 40px;
  }
  .editProduct__lastOrder-title, .editProduct__location-title {
    margin-top: 0;
  }
  .editProduct__editPageStatus-title, .editProduct__quantity-title {
    margin-top: 0;
  }
  .editProduct__categories--ep {
    margin-top: 0;
  }
  .editProduct__categories-title--ep {
    margin-top: 24px;
  }
  .editProduct__btn-cancel {
    padding-top: 0;
  }
  .editProduct-wrapper__ep {
    margin-bottom: 24px;
  }
  .editProduct-container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin-top: 40px;
  }
}
/*# sourceMappingURL=main.css.map */